.logoMain {
  left: 8.5rem;
  top: 5px;
  z-index: 0;
  position: absolute;
}

.logoMain img {
   width:90px;
    height: 90px;
}

@media only screen and (max-width: 1150px) {
  .logoMain {
    left: 4rem;
    width:90px;
  }

}

@media only screen and (max-width: 681px) {
  .logoMain {
    left: 2rem;
    top: 10px;
  }

  .logoMain img {
    width: 60px;
    height: 60px;
  }
}
