.logo {
  left: 8.5rem;
  top: 5px;
  z-index: 0;
  position: absolute;
}

.logo img {
  width: 90px;
  height: 90px;
}

@media only screen and (max-width: 1200px) {
  .logo {
    left: 4rem;
    width: 90px;
    top: -5px;
  }
}

@media only screen and (max-width: 681px) {
  .logo {
    left: 2rem;
    top: 10px;
  }

  .logo img {
    width: 60px;
    height: 60px;
  }
}
