.container {
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


@media only screen and (max-width: 1200px) {
    .container {
      display: none;
    }
  
  }