.h1 {
    text-align: center;
    margin-bottom: 8rem;
    font-size: max(28px,min(8vw,48px));
    line-height: max(35px,min(10vw,61px));
    letter-spacing: 0.02em;
    color: var(--titleColor);
    font-weight: 800;
    margin-bottom: 5rem;
    margin-top: 6rem;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.container img {
    width: 100%;
    max-width: 730px;
    height: 100%;
}

.container img:nth-child(1) {
   margin-bottom: 8rem;
}

.container img:nth-child(2) {
 }

 @media only screen and (max-width: 681px) {
    .container img:nth-child(1) {
        margin-bottom: 4rem;
     }


     .h1 {
        margin-bottom: 3rem;
        margin-top: 0rem
    }

    .container img:nth-child(2) {
        margin-bottom: 4rem;
     }

}