.h1 {
    text-align: center;
    margin-bottom: 5rem;
    font-size: max(28px,min(8vw,48px));
    line-height: max(35px,min(10vw,61px));
    letter-spacing: 0.02em;
    color: var(--titleColor);
    font-weight: 800;
}

.container {
    margin-inline: auto;
    height: 100%;
    width: 100%;
    max-width: 1280px;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding-left: 85px;
    padding-right: 85px;
}

.container img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    max-width: 254px;
    max-height: 254px;
}

@media only screen and (max-width: 1150px) {

    .container {
        padding-right: 4rem;
        padding-left: 4rem;
        grid-gap: 2rem;
    } 
}

@media only screen and (max-width: 681px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        padding-left: 2rem;
        padding-right:  2rem;
        margin-bottom: 4rem;
    }

    .h1 {
        margin-bottom: 3rem;
    }

}