.container {
  width: 100%;
  height: 100%;
  padding-left: 8.5rem;
  padding-right: 8.5rem;
  position: relative;
  z-index: 0;
}

.prefixContainer {
  width: 100%;
  max-width: var(--maxWidth);
  display: flex;
  margin-inline: auto;
}

.imageContainer {
  width: 100%;
  min-width: 530px;
  order: 1;
  z-index: -1;
}

.imageContainer img {
  z-index: 1;
  width: 100%;
  min-width: 530px;
  height: 100%;
  object-fit: cover;
}

.textContainer {
  padding-top: 4rem;
  padding-left: 8.5rem;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textContainer h2 {
  color: var(--titleColor);
  font-size: max(var(--sectionTitleMin), min(9vw, var(--sectionTitleMax)));
  font-weight: 800;
  letter-spacing: 0.02em;
  line-height: 61px;

  margin-bottom: 2rem;
}

.textContainer p {
  font-size: var(--fontSizeP);
  line-height: 30px;
  margin-bottom: 4rem;
}

.btnContainer button:nth-child(1) {
  margin-right: 5rem;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .imageContainer img {
    position: relative;
  }

  .textContainer {
    max-width: 100%;
    padding-top: 4rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .prefixContainer {
    width: auto;
    max-width: unset;
    display: unset;
    margin-inline: unset;
  }
}

@media only screen and (max-width: 681px) {
  .container {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .imageContainer {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
  }

  .imageContainer img {
    min-height: 100%;
    height: 100%;
    min-width: 100%;
  }

  .textContainer p {
    font-weight: 400;
    line-height: 150%;
  }

  .textContainer {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .btnContainer a:not(:last-child) {
    margin-bottom: 3rem;
    margin-right: 0;
  }

  .btnContainer a button {
    margin-right: 0 !important;
  }
}
