.container {
  width: 100%;
  height: 100%;
  display: flex;
  padding-right: 8.5rem;
  padding-left: 8.5rem;
}

.prefixContainer {
  width: 100%;
  max-width: var(--maxWidth);
  display: flex;
  margin-inline: auto;
  justify-content: center;
}

.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContainer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-right: 3rem;
  padding-left: 5rem;
  justify-content: center;
  flex-direction: column;
  display: flex;
  min-width: 530px;
}

.textContainer p {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
}

@media only screen and (max-width: 1150px) {
  .container {
    background-image: none;
    height: 100%;
    min-height: 410px;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    padding-right: 4rem;
    padding-left: 4rem;
  }

  .prefixContainer {
    width: unset;
    max-width: unset;
    display: unset;
    margin-inline: unset;
    justify-content: unset;
  }

  .textContainer {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding-bottom: 9rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 3rem;
    order: 2;
  }

  .imageContainer img {
    position: relative;
  }

  .textBoxContainer {
    max-width: 35rem;
    width: 100%;
  }
}

.textContainer h2 {
  color: var(--titleColor);
  font-size: max(var(--sectionTitleMin), min(9vw, var(--sectionTitleMax)));
  letter-spacing: 0.02em;
  line-height: 61px;
  font-weight: 800;
  margin-bottom: 2rem;
}

.btnContainer {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.textBoxContainer {
  max-width: 45rem;
}

.textBoxContainer div {
  font-size: 18px;
  line-height: 30px;
  display: flex;
}

.textBoxContainer div:not(:last-child) {
  margin-bottom: 1rem;
}

.textBoxContainer div:nth-child(1) {
  margin-bottom: 3rem;
}

.textBoxContainer div {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 681px) {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    padding-right: 0;
    padding-left: 0;
  }

  .imageContainer {
    min-height: 177px;
  }

  .imageContainer img {
    min-height: 177px;
  }

  .textContainer h2 {
    font-weight: 800;
    line-height: 35px;
  }

  .textContainer {
    width: 100%;
    min-width: 100%;
    margin-top: 0;
    padding-bottom:0;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 3rem;
  }

  .textBoxContainer {
    max-width: 30rem;
  }

  .textContainer p {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
  }
}
