.container {
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heightPrefix {
    margin-top: -10rem !important;
}


@media only screen and (max-width: 681px) { 
    .container {
        height: 10rem;       
    }
 
}