.nav {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 8.5rem;
  padding-left: 8.5rem;
}

.stickyContainer {
  justify-content: flex-end;
}

.rightItemsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footerNav {
  max-width: var(--maxWidth2);
  background-color: inherit;
  justify-content: space-between !important;
  height: 12rem;
  margin-inline: auto;
}

.ul {
  display: flex;
  height: 100%;
  width: fit-content;
  align-items: center;
}

.ul li {
  margin-right: 4rem;
  font-weight: 300;
  color: var(--navTextColor);
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.ul li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%; /* Center the starting position */
  transform: translateX(-50%); /* Move it back by half of its width */  height: 1px;
  width: 0%;
  background-color: var(--navHover);
  transition: all 160ms ease-in-out;
}

.ul li:hover::after {
  width: 100%;
  color: var(--navHover);
}

.active {
  color: var(--navHover);
  font-weight: 800;
}

.activeLi:hover::after {
  width: 0% !important;
}

.active-hover-none:hover::after {
  color: #ffaa0000 !important;
  width: 0% !important;
}


.social {
  cursor: pointer;
}

.social img:nth-child(1) {
  margin-right: 18.71px;
}

.social img:nth-child(2) {
  margin-right: 28.74px;
}

.lng {
  margin-right: 5rem;
}

.lng span {
  font-size: 18px;
  line-height: 21px;
  color: var(--navTextColor);
  cursor: pointer;
  font-weight: 800;
}

.hambi {
  display: none;
}

.activeLang {
  color: var(--titleColor3Hover) !important;
  cursor: default !important;
  font-weight: 500 !important;
}

.logo {
  position: absolute;
  width: 90px;
  left: 8.5rem;
  z-index: 0;
  display: none;
}

.imagehover {
  pointer-events: none;
}

@media only screen and (max-width: 1100px) {
  .ul li:hover  {
    pointer-events: none;
  }
 }




@media only screen and (max-width: 1250px) {

  .ulHide {
    display: none;
  }

  .ulCenter {
    width: 100%;
  }

  .nav {
    padding-right: 4rem;
    padding-left: 4rem;
    justify-content: flex-end;
  }

  .logo {
    display: block;
    left: 4rem;
    top: -5px;
    width: 90px;
  }

  .logoIntabletFotterDisplayNone {
    display: none;
  }

  .tabletPositon {
    height: 25rem;
    justify-content: space-evenly !important;
    flex-direction: column;
    align-items: center;
  }

  .lngHide {
    display: none;
  }

  .hambi {
    display: block;
    cursor: pointer;
    margin-left: 4rem;
    z-index: 1;
  }

  .mobilStyle {
    margin-right: 0;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .mobilStyle span {
    font-size: 22px;
    line-height: 21px;
    color: var(--navTextColor);
    cursor: pointer;
  }
}

@media only screen and (max-width: 681px) {
  .nav {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .socialNav {
    display: none;
  }

  .lngNav {
    display: none;
  }

  .btnNav {
    display: none;
  }

  .navNav {
    height: 8rem;
  }

  .logo {
    left: 2rem;
    width: 60px;
    top: -5px;
  }
}

/*FOOTER NAV IN MOBILE VIEW WHICH IS ALSO THE NAV OF THE MOBILE MENU*/

@media only screen and (max-width:1250px) {
  .colorMobileMenu {
    background-color: var(--bgColor);
  }

  .logoFooterMobile {
    margin-bottom: 4rem;
  }
  .socialNavFooter img {
    margin: 0 !important;
  }

  .socialNavFooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    gap: 3rem;
    margin-bottom: 5rem;
  }

  .containerUlMobile {
    flex-direction: column;
  }

  .footerNav {
    height: 569px;
    flex-direction: column;
    margin: 0;
    justify-content: center !important;
    align-items: center;
  }

  .ulMobile li {
    margin: 0px 0px 30px 0px !important;
  }

  .ulMobile {
    flex-direction: column;
    margin: 0;
  }
}
