.container {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
}

.galleryClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.layerToCloseTheGallery {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: absolute;
  z-index: 9989999899;
}

.containerImage {
  position: relative;
  width: auto;
  height: 100%;
  max-height: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  z-index: 9999999999;
  display: flex;
  justify-content: center;
  background: #ffffff;
  border: 4px solid var(--titleColor);
}

.containerImage img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.clickHandelerContainer {
  width: 100%;
  max-width: 8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  cursor: pointer;
  bottom: 1%;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickHandelerContainer img {
  width: 20px;
}

.photoCounter {
  font-size: 20px;
  color: black;
}

@media only screen and (max-width: 1366px) {
}

/*
@media only screen and (min-height: 1204px)  {
    .containerImage  {
        padding-top: 15%;
        padding-bottom: 15%;
    }
}

*/

@media only screen and (max-width: 681px) {
  .container {
    display: block;
    padding: 0;
  }

  .containerImage {
    width: 100%;
    height: 100%;
    max-height: 100%;
  }

  .containerImage img {
    object-fit: cover;
    max-height: 90%;
    max-width: 100%;
  }
  .clickHandelerContainer {
    bottom: 10%;
  }
}

.hoverProperty {
  position: relative;
  max-width: 250px;
  max-height: 250px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.hoverProperty img {
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.hoverProperty:hover img {
  transform: scale(1.2);
  filter: blur(1px);
}

.hoverProperty::before {
  content: "";
  opacity: 0;
  position: absolute;
  top: 75px;
  left: 50px;
  transform: translateY(-50%, -50%);
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
}

.hoverProperty:hover::before {
  content: url(../../../public/logo_small.png);
  opacity: 1;
}

@media only screen and (max-width: 1200px) {
  .hoverProperty:hover::before {
    content: unset;
    opacity: 0;
  }

  .hoverProperty::before {
    content: "";
    opacity: 0;
    position: absolute;
    top: 29%;
    left: 29%;
    transform: translateY(-50%, -50%);
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
  }

  .hoverProperty:hover img {
    transform: unset;
    filter: unset;
  }
}
