.button {
  padding: 8px 20px;
  background: var(--btn1Color);
  border: 2px solid var(--btn1Color);
  color: var(--btnTextColor);
  cursor: pointer;
  font-size: 18px;
  line-height: auto;
  transition: all 0.4ms ease-in;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  background: var(--btnHover)
}

.buttonGetInTouch {
  font-size: 20px;
  line-height: 33.24px;
  position: relative;
  color: var(--btn2Color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  text-transform: uppercase;
  font-weight: 700;
}

.buttonGetInTouch::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%; /* Center the starting position */
  transform: translateX(-50%); /* Move it back by half of its width */
  height: 2px;
  width: 0%;
  background-color: var(--btn2Color);
  transition: all 200ms ease;
}

.buttonGetInTouch:hover::after {
  width: 100%;
  color: var(--navHover);
}



.butnBlue {
  background: transparent;
  padding: 8px 20px;
  color: var(--btn2Color);
  border: 2px solid var(--btn2Color);
  line-height: auto;
  border-radius: 2px;
  font-size: 20px;
  transition: all .2s ease;
}

.butnBlue:hover {
  padding: 8px 20px;
  color: rgb(255, 255, 255);
  background:var(--btn2Color);;
}

@media only screen and (max-width: 1200px) {
  .button:hover::before {
    opacity: 0;
  }

  .buttonGetInTouch:hover {
    color: var(--navTextColor);
  }
}

@media only screen and (max-width: 600px) {
  .buttonGetInTouch {
    font-size: 18px;
  }

  .butnBlue {
    font-size: 18px;
  }
}
