.h1 {
  color: var(--titleColor);
  font-size: max(var(--sectionTitleMin), min(9vw, var(--sectionTitleMax)));
  letter-spacing: 0.02em;
  line-height: 61px;
  font-weight: 800;
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.container {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  max-height: 523px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  padding-left: 8.5rem;
}

.imageContainer {
  width: 100%;
  max-width: 600px;
  order: 2;
  padding-right: 8.5rem;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContainer {
  position: relative;
  max-width: 100%;
}

.textContainer h2 {
  color: var(--titleColor);
  font-size: max(28px, min(8vw, 42px));
  line-height: max(35px, min(10vw, 61px));
  letter-spacing: 0.02em;
  font-weight: 800;
  margin-bottom: 2rem;
}

.textBoxContainer {
  max-width: 45rem;
}

.contactText {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.contactText:not(:last-child) {
  margin-bottom: 1.5rem;
}

.contactText:nth-child(4) {
  margin-bottom: 3rem;
}

.textBoxContainer div {
  font-size: 18px;
  line-height: 30px;
  display: flex;
}

.textBoxContainer div:not(:last-child) {
  margin-bottom: 1rem;
}

.textBoxContainer div:nth-child(3) {
  margin-bottom: 3rem;
}

.textBoxContainer div {
  display: flex;
  justify-content: space-between;
}

.socialContainerItem {
  display: flex;
  align-items: center;
}

.socialContainerItem img {
  margin-right: 1rem;
}

.socialContainerItem:nth-child(1) {
  margin-bottom: 2.5rem;
}

.socialContainerItem:nth-child(2) {
  margin-bottom: 3.8rem;
}

.btnContainerItem a:nth-child(1) {
  margin-right: 5rem;
}

/* BREAK POINTS */

@media only screen and (max-width: 1150px) {
  .container {
    background-image: none;
    height: 100%;
    min-height: 410px;
    max-height: 100%;
    flex-direction: column;
    align-items: unset;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .itemsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
  }

  .imageContainer {
    width: 100%;
    max-width: 100%;
    order: 2;
    padding-right: 4rem;
    padding-left: 4rem;
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .btnContainerItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .btnContainerItem a:nth-child(1) {
    margin-right: 0rem;
  }

  .textContainer {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
  }

  .imageContainer img {
    position: relative;
  }

  .imageContainer {
    order: 1;
  }

  .textBoxContainer {
    max-width: 35rem;
    width: 100%;
  }
}

@media only screen and (max-width: 681px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .itemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
  }

  .imageContainer {
    min-height: 177px;

    padding-right: 0;
    padding-left: 0;
  }

  .imageContainer img {
    min-height: 177px;
  }

  .textContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .textBoxContainer {
    max-width: 30rem;
  }

  .textContainer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
}
